@page
@model CSWeb1PE.Pages.PortfolioModel
@{
}


<h1>Hoe heb ik dit project aangepakt?</h1>
<br />
<p>Ik ben begonnen met de klasses te maken zoals die in de opdracht staan.</p>
<p>Daarna ben ik begonnen met de registreer functionaliteit en hoe ik de identityusers koppel aan gebruikers.</p>
<p>Verder heb ik de functionaliteit van de admin eerst toegevoegd, daarna heb ik pas de functionaliteit toegevoegd die de studenten en lectoren kunnen gebruiken</p>