*{
    font-family: 'Lora', serif;
}
.gallery-full{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.gallery h2{
    font-weight: 300;
}

.gallery{
    margin: 2rem 0 0 0;
}
.caroussel-container{
    margin: 1rem auto 0 auto;
}
.caroussel-container-dots{
    margin: 0 auto 2rem auto;
}
.center-info{
    display: flex;
    justify-content: flex-start;
}
.room-info{
    display: flex;
    justify-content: center;
}
.info-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    border-top: solid rgba(0, 0, 0, 0.32) 1px;
}
.bigRow{
    margin-top: 5rem;
}
/* DESKTOP */
@media screen and (min-width: 480px){
    .info-text{
        width: 38%;
    }
    .bigRow{
        margin-top: 2rem;
    }
    .caroussel-container{
        width: 90%;
    }
    #carousel-img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }


}